/*
**************
    GENERAL
**************
*/
@font-face {
  src: url(../font/angerstyles/angerstyles.ttf);
  font-family: angerstyles;
  font-weight: 400px;
  }


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: angerstyles;

}

html {
  font-size: 20px;
}

hr {
  border-top: 1px solid brown;
  width: 97%;
  margin: 1%;
}
/*
**************
    HEADER
**************
*/
.navbar {
  padding: 0px;
  background-color: #E3C770;
}

.nav-item a {
  padding:8px 15px !important;
}

/*
**************
    MAIN
**************
*/
/*body*/

main {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

main section {
  width: 90%;
  background-color:rgba(227, 199, 112, 0.23);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.colorgreen {
  color: #7FB77E;
  font-size: 40px;
}

.colororanje {
  color: #E3C770;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.text-main {
  text-align: justify;
  width: 93%;
}

/*Inicio*/
.front-page {
  width: 100%;
  height: 570px;
}

h1 {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 1%;
}

/*Elementos*/
.card {
  background-color: rgba(255, 174, 109, 0.25);
  margin: 2% 0;
  text-align: center;
  margin: 2%;
  width: 20%;
  height: 14rem;
}

.card-img-top {
  height: 20vh;
}

.btn {
  color: orange;
}

.box {
  width: 100%;
  height: 15vh;
}

/*Tutorial*/
.tutorial {
  height: 227px;
  width: 300px;
  margin: 2% 4%;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  margin-bottom: 20px;
  color: orange;
}

.text {
  width: 90%;
}

.text-tutorial {
  text-align: center;
}
/*
**************
    FOOTER
**************
*/
footer {
  width: 100%;
  background-image: linear-gradient(rgba(227, 199, 112, 0.23), rgba(227, 199, 112, 1));
  display: flex;
  justify-content: center;
}

.line {
  width: 100%;
  margin: 0;
}

.network-link {
  color: #858585;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.net {
  height: 15px;
  width: 15px;
  margin-top: 3%;
  margin-right: 2%;
}

.text-footer {
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 2% 2%;
}

.row {
  margin-top: 15px;
}

/*
******
Tablet
******
*/
@media (max-width:992px){
html {
  font-size: 17px;
}

.navbar-brand {
  padding-left: 2%;
}

main section {
  width: 100%;
}

.colorgreen {
  font-size: 35px;
}

.container-fluid {
  padding: 0;
}

.front-page {
  width: 100%;
  height: 60vh;
}

.colororanje {
  font-size: 25px;
}

.card {
  width: 25%;
  height: 16rem;
}

.card-img-top {
  height: 20vh;
}

.tutorial {
  height: 195px;
  width: 250px;
  margin: 1% 1%;
}


footer {
  display: flex;
  justify-content:center;
}

.net {
  height: 13px;
  width: 13px;
  margin-top: 3.5%;
}

.text-footer {
  font-size: 12px;
}

}

/*
******
  Cel
******
*/@media (max-width:576px) {
html {
  font-size: 15px;
}

main section {
  width: 100%;
}

.colorgreen {
  font-size: 30px;
}

.container-fluid {
  padding: 0;
}

.front-page {
  width: 100%;
  height: 43vh;
  }

.card {
  width: 40%;
  height: 14rem;
}

.colororanje {
  font-size: 20px;
}

.text-footer {
  font-size: 10px;
}

.net {
  height: 10px;
  width: 10px;
  margin-top: 4%;
}

.tutorial {
  height: 195px;
  width: 195px;
}

}

@media (max-width:476px) {
.tutorial {
  height: 160px;
  width: 40%;
}

}
